{% extends "layouts/base.html" %}
{% block content %}
<section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          About FitAi
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/about-img.png') }}" alt="">
        </div>
        <div class="detail-box">
          <p>
          
          </p>Welcome to FitAi, your ultimate destination for achieving peak physical fitness through personalized, AI-powered programs. Our goal is to empower you with cutting-edge technology and customized fitness plans that adapt to your unique needs, helping you reach and maintain your health and wellness objectives efficiently and effectively. At FitAi, we are committed to supporting you every step of the way, ensuring you achieve your fitness goals and unlock your full potential.
          
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}