{% extends "layouts/base.html" %}
{% block content %}
<section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          About FitAi
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/about-img.png') }}" alt="">
        </div>
        <div class="detail-box">
          <p>
          
          </p>Personalized workouts, virtual trainers, progress tracking, nutrition advice, community support, smart equipment integration, privacy,security.
          
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}