{% extends "layouts/base.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      {% if category == 'success' %}
        <li class="alert alert-success">
          <i class="fas fa-check-circle"></i> {{ message }}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <div class="row py-5 px-4">
    <div class="col-md-5 mx-auto"> <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover">
          <div class="media align-items-end profile-head">
            <div class="profile mr-3"><img
                src="{{ url_for('static', filename='images/empty_image.png') }}"
                alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="/edit"
                class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
            <div class="media-body mb-5 text-white">
              <h4 class="mt-0 mb-0">{{name}}</h4>
              <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>New York</p>
            </div>
          </div>
        </div>
        <div class="bg-light p-4 d-flex justify-content-end text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block">age</h5><small class="text-muted"> <i
                  class="fas fa-image mr-1"></i>{{age}}</small>
            </li>
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block">email</h5><small class="text-muted"> <i
                  class="fas fa-user mr-1"></i>{{email}}</small>
            </li>

          </ul>
        </div>
        <div class="py-4 px-4">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="mb-0">My programs</h5><a href="/programs" class="btn btn-link text-muted">Show all</a>
          </div>
        </div>
        <a href="/logout" class="logout-btn">Logout</a>
      </div>
    </div>
  </div>
{% endblock %}
