{% extends "layouts/base.html" %}
{% block content %}
<div class="text-container">
    {% if programs %}
        {% for program in programs %}
            <div class="textbox">
                <!-- Display each program with proper formatting -->
                <pre style="white-space: pre-wrap;">{{ program }}</pre>
            </div>
        {% endfor %}

        {% else %}
        <p>No programs available.</p>
        {% endif %}
    </div>
    <!-- Pagination controls -->
    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('programs', page=page - 1) }}" class="prev">Previous</a>
        {% endif %}

        <span>Page {{ page }} of {{ total_pages }}</span>

        {% if page < total_pages %}
            <a href="{{ url_for('programs', page=page + 1) }}" class="next">Next</a>
        {% endif %}
    </div>
{% endblock %}
