{% extends "layouts/base.html" %}
{% block content %}
<section class="contact_section layout_padding">
  <div class="container">
    <div class="layout_padding2-top">
      <div class="row">
        <div class="col-md-6 ">
          {%if error%}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        {%endif%}
          <form action="/register/submit" method="POST">
            <div class="contact_form-container">
              <div>
                <input type="text" placeholder="Name" name="name" required {%if new_name %} value={{new_name}} {% endif %}/>
              </div>
              <div>
                <input type="email" placeholder="Email" name="email" required {%if new_email %} value={{new_email}} {% endif %}/>
              </div>
              <div>
                <input type="text" placeholder="Age" name="age" required {%if new_age %} value={{new_age}} {% endif %}/>
              </div>
              <div>
                <input type="text" placeholder="Gender" name="gender" required {%if new_gender %} value={{new_gender}} {% endif %}/>
              </div>
              <div>
                <input type="text" placeholder="weight" name="weight" required {%if new_weight %} value={{new_weight}} {% endif %}/>
              </div>
              <div>
                <input type="text" placeholder="height" name="height" required {%if new_height %} value={{new_height}} {% endif %}/>
              </div>
              <div>
                <input type="password" placeholder="Password" name="password" required/>
              </div>
              <div>
                <input type="password" placeholder="Confirm Password" name="conf_password" required/>
              </div>
              <div class="">
                <button type="submit">
                  Register
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/about-img.png') }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
