{% extends "layouts/base.html" %}
{% block content %}
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-6 ">
            <form action="/service/generated" method="post">
              <div class="contact_form-container">
                <div>
                  <input type="text" id="prompt" name="prompt" placeholder="prompt" required><br><br>
                  <div class="mt-5">
                    <button type="submit">
                      Generate
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/about-img.png') }}" alt="">
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}